* {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(243, 243, 243);
}

h1 {
    font-size: 80px;
    font-weight: lighter;
    color: rgb(201, 147, 156);
    opacity: 50%;
}

#container {
    background-color: white;
    width: 470px;
    border: solid gray 1px;
    margin: auto;
    padding: 0;
}

form {
    border-bottom: solid gray 1px;
    margin: auto;
}

#markAll {
    font-size: 25px;
    background: none;
    opacity: 70%;
    border: none;
    margin: 0 20;
    padding-left: 10px;
    /* visibility: hidden; */
}

input[type="text"] {
    height: 50px;
    width: 400px;
    text-align: left;
    font-size: 30px;
    border: none;
    padding-left: 10px;
}

::placeholder {
    font-size: 30px;
    font-style: italic;
    color: gray;
    opacity: 20%;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    position: relative;
    display: flex;
    border-bottom: solid gray 1px;
    padding: 15px 0px;
    list-style-type: none;
}

input[type=checkbox] {
    float: left;
    min-height: 30px;
    min-width: 30px;
    margin-left: 13px;
}

.note {
    margin-left: 3%;
    text-align: left;
    font-size: 30px;
    word-break: break-all;
}

.delete {
    position: absolute;
    justify-content: flex-end;
    right: 3%;
    /* bottom: 10%; */
    /* margin-top: auto; */
    visibility: hidden;
    opacity: 50%;
    font-size: 25px;
    background: none;
    border: none;
}


li:hover .delete {
    visibility: visible;
}

.delete:hover {
    opacity: 100%;
}

.categoryBtn {
    display: none;
    border: none;
    background: transparent;
    margin: 8px 2px;
    text-align: center;
}

.categoryBtn:hover {
    border: solid rgb(201, 159, 166) 1px;
    cursor: pointer;
}

#clear {
    /* display: none; */
    border: none;
    text-decoration: underline;
    background: transparent;
    margin: 8px 2px;
    text-align: right;
}

#clear:hover {
    cursor: pointer;
}

footer {
    font-size: 11px;
    color: gray;
    opacity: 80%;
    margin-top: 40px;
    line-height: 1.6;
}

@media (max-width: 570px) {
    
    #container {
        width: 75%;
    }

    input[type="text"] {
        font-size: 20px;
        width: 75%;
    }

    ::placeholder {
        font-size: 20px;
    }

    li {
        font-size: 20px;
        
    }
}